# Environments
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node / React Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
dist/
dist-ssr/
*.local

# Project Specific
backend/generated_images/
backend/temp_garment_*

# OS Files
.DS_Store
Thumbs.db
